@charset "UTF-8";
img {
  max-width: 100%;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.nav {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #FFFFFF;
}

.input_1 {
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  width: 288px;
  height: 41px;
  background-color: transparent;
  padding-left: 15px;
  color: #FFFFFF;
}

.input_1::-webkit-input-placeholder {
  color: #FFFFFF;
}

.input_1:-ms-input-placeholder {
  color: #FFFFFF;
}

.input_1::-ms-input-placeholder {
  color: #FFFFFF;
}

.input_1::placeholder {
  color: #FFFFFF;
}

.title {
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  margin-top: 140px;
  margin-bottom: 16px;
  color: #FFFFFF;
}

.p-like1 {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 16px;
  color: #FFFFFF;
  margin-top: 35px;
}

.go2catalog {
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.title2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
  margin-bottom: 32px;
}

input {
  color: #000000;
}

.title3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 8px;
}

.p-like2 {
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  margin-bottom: 12px;
}

.p-like3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #050505;
}

.p-like4 {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #888888;
}

.title4 {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  left: 530.36px;
  top: 3514.28px;
}

.refall {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 12px;
}

.refall:hover {
  color: black;
}

.p-like5 {
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 16px;
}

.email {
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  padding-right: 12px;
}

.button {
  background: rgba(222, 215, 215, 0.41);
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  width: 275.36px;
  height: 46px;
  font-size: 15px;
  line-height: 18px;
  margin-top: 12px;
}

.top {
  background-image: url(img/img/топиндекс.jpg);
  height: 735px;
  margin-bottom: 64px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 40px;
  background-image: url(img/img/футер.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.topcatalog {
  background-image: url(img/img/топкаталог.jpg);
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  margin-bottom: 50px;
}

.title2cat {
  width: 270px;
  height: 70px;
  font-weight: 600;
  font-size: 64px;
  color: #FFFFFF;
  margin-top: 204px;
}

.header {
  padding-top: 32px;
  height: 77px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header__links {
  display: none;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

.product1 {
  width: 378px;
}

.product_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: 56px;
  gap: 32px;
  margin-bottom: 35px;
}

.navfooter {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 60px;
}

.contact {
  list-style: none;
}

.menucatal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.action {
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  width: 275px;
  height: 46px;
  padding-left: 15px;
}

.footmain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 10%;
  gap: 12px;
}

.socseti {
  padding-right: 20px;
}

.fb {
  margin-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

.for {
  padding-top: 64px;
}

.for_product1 {
  background-image: url(img/ОТДЫХА.jpg);
}

.for_product2 {
  background-image: url(img/РАБОТЫ.jpg);
}

.for_product3 {
  background-image: url(img/КУХНИ.jpg);
}

.for_product4 {
  background-image: url(img/ДЕТСКОЙ.jpg);
}

.for_product5 {
  background-image: url(img/ВАННОЙ.png);
}

.for_product {
  grid-column: span 4;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 415px;
  font-weight: 600;
  font-size: 34px;
  line-height: 41px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.for_greed {
  display: -ms-grid;
  display: grid;
  gap: 32px;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  margin-bottom: 64px;
}

.big {
  grid-column: span 6;
}

.line {
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
}

.breadcrumbs-item {
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
}

.breadcrumbs-item:not(:last-child):after {
  content: "/";
  margin-left: 5px;
}

.breadcrumbs-link {
  color: black;
  text-decoration: none;
}

.breadcrumbs-link:not(span):hover {
  text-decoration: underline;
}

.breadcrumbs-link.current {
  color: #333;
}

.bread {
  margin-top: 64px;
  margin-bottom: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.select {
  width: 288px;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  width: 275.36px;
  height: 46px;
  font-size: 15px;
  line-height: 18px;
  padding-left: 10px;
}

img {
  max-width: 100%;
}

.heartbeat:hover {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
          animation: heartbeat 1.5s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.topcatalog2 {
  background-image: url(img/topcatalog2.jpg);
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  margin-bottom: 50px;
}

.tovar {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.inbasxetforma {
  width: 375px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F7F6F6;
  border-color: whitesmoke;
  border-radius: 20px;
  position: relative;
  height: 556px;
  margin-bottom: 64px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.spec {
  float: left;
}

.formacarz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainbascet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 32px;
}

.inbasxet1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inbasxet2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-bottom: 32px;
  gap: 32px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 32px;
  border-top: 0.5px solid rgba(158, 158, 158, 0.8);
}

.pix {
  display: inline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inmenu {
  width: 30%;
  padding-left: calc(50% - 600px);
}

.button3 {
  max-width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 7px;
  flex-wrap: wrap;
  gap: 7px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.insertzone {
  width: 100%;
  text-decoration: none;
  font-size: 14px;
  margin-top: 41px;
  border-bottom: 1px solid #CACDD8;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #F7F6F6;
}

.buttonbascet {
  background-color: none;
  width: 288px;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  width: 275.36px;
  height: 46px;
  font-size: 15px;
  line-height: 18px;
  padding-left: 10px;
  margin-top: 18px;
}

.inbasxet4 {
  background-color: white;
  width: 288px;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  width: 275.36px;
  height: 46px;
  font-size: 15px;
  line-height: 18px;
  padding-left: 10px;
}

.inbasxet5 {
  background-color: black;
  color: white;
  width: 288px;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  width: 275.36px;
  height: 46px;
  font-size: 15px;
  line-height: 18px;
  padding-left: 10px;
}

.refall1 {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 12px;
  margin-bottom: 14px;
}

.new {
  padding-top: 50px;
  text-align: center;
}

.new2 {
  margin-left: auto;
}

.choice {
  width: 71px;
  height: 51px;
  left: 717px;
  top: 102px;
  background: #F7F6F6;
  border-radius: 6px;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  border: none;
  margin-left: auto;
}

.navbascet {
  position: static;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  padding-top: 35px;
  padding-right: 30px;
}

@media (max-width: 1023px) {
  .center {
    padding-left: calc(50% - 395px);
    padding-right: calc(50% - 395px);
  }
  .for_product1 {
    height: 266px;
  }
  .for_product2 {
    height: 266px;
  }
  .for_product3 {
    height: 266px;
  }
  .for_product4 {
    height: 266px;
  }
  .for_product5 {
    height: 266px;
  }
  .logo {
    display: none;
  }
  .tovar {
    width: 100%;
  }
  .navfooter {
    margin-right: 50%;
  }
}

@media (min-width: 768px) and (max-width: 833px) {
  .product1 {
    width: 345px;
  }
  .center {
    padding-left: calc(50% - 370px);
    padding-right: calc(50% - 370px);
  }
}

@media (max-width: 767px) {
  .center {
    padding-left: calc(50% - 171px);
    padding-right: calc(50% - 171px);
  }
  .title {
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    margin-top: 29px;
  }
  .p-like1 {
    font-size: 16px;
    text-align: center;
  }
  .go2catalog {
    font-size: 14px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .input_1 {
    display: none;
  }
  .nav {
    display: none;
  }
  .header__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 32px;
  }
  .title2 {
    font-size: 24px;
    line-height: 29px;
  }
  .for_product {
    font-size: 28px;
    line-height: 34px;
    grid-column: 1 / -1;
  }
  .for_greed {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .big {
    height: 244px;
  }
  .for_product3 {
    height: 375px;
  }
  .for_product4 {
    height: 375px;
  }
  .for_product5 {
    height: 375px;
  }
  .p-like3 {
    font-size: 18px;
    line-height: 22px;
  }
  .p-like4 {
    font-size: 18px;
    line-height: 22px;
  }
  .p-like2 {
    font-size: 14px;
    line-height: 17px;
  }
  .p-like5 {
    margin-top: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
    line-height: 15px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .form_footer {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
  }
  .footer {
    display: fliex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .top {
    margin-bottom: 0%;
    min-height: 100vh;
  }
  .for {
    padding-top: 32px;
  }
  .breadcrumbs {
    font-size: 14px;
    line-height: 32px;
  }
  .select {
    font-size: 14px;
    line-height: 17px;
  }
  .newformobile {
    margin-top: 99px;
  }
  .formmob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card {
    display: none;
  }
  .tovar {
    width: 100%;
  }
  .inmenu {
    width: 65%;
  }
  .select {
    margin-top: 17px;
  }
  .inbasxet4 {
    width: 163px;
    height: 37px;
    text-align: center;
    font-size: 12px;
    line-height: 15px;
  }
  .inbasxet5 {
    width: 163px;
    height: 37px;
    text-align: center;
    font-size: 12px;
    line-height: 15px;
  }
}
/*# sourceMappingURL=style.css.map */